
body{
    margin: 3%;
    background-color: #f7f8f9;
    font-size: 80%;
    font-family:'Roboto Mono', 'Courier New', Courier, monospace;
}


a.skip{
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out;
    z-index: 1;
    position: absolute;
    left: -400px;
    top: -200px;
}

nav{
    margin-top: 14.3vh;
}


nav a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #222222;
}


nav a.icon{
    display: block;
    position: absolute;
    top: 0;
    background-color:  #f7f8f9;
    color: black;

}


nav a:hover{
    background: #f7f8f9;
    color: black;
}

nav a.active{
    text-decoration-line: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    text-underline-offset: 12px;
}

nav a.active:hover{
    text-decoration-line: underline;
    text-decoration-color: black;
}


li{
    font-weight: bold;
    line-height: 1.5;
    padding-left: 15px;
}


a{
    text-decoration: underline red;
    color: black;
}

a.skip:focus{
    left: auto;
    top: 200px;
  }

a:hover{
    color: white;
    background-color: black;
}

img{
    width: 100%;
    padding: 20px;
    margin-bottom: 5vh;
    border: solid red 10px;
    border-radius: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover{
    border: dashed #333333 10px;
}


h1{
    font-size: 300%;
    font-family: "Climate Crisis", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    margin-bottom: 3vh;
    text-transform: uppercase;
    transition-property: letter-spacing;
    transition-duration: .6s;
    transition-timing-function: ease-in;
    transition-delay: .2s;
}

h1:hover{
    letter-spacing: .2em;
}


h2{
    font-weight: bold;
    font-size: 240%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 3vh;
    padding: 20px;
    transition-property: letter-spacing;
    transition-duration: .6s;
    transition-timing-function: ease-in;
    transition-delay: .2s;
}

h2:hover{
    letter-spacing: .2em;
}

h3{
    font-weight: bold;
    font-size: 130%;
    letter-spacing: 0.3em;
}

footer{
    padding-top: 5vh;
    font-size: 100%;
    background-color: #222222;
    color: white;
    font-weight: bold;
}

p{
    padding: 20px;
    margin: 0vh 1% 2vh 1%;
    line-height: 40px;
    background-image: #ffffff;
}


ul{
    margin-top: 3vh;
    margin-bottom: 10vh;
}

#mainstuff{
    margin: 5%;
}

.grid{
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 20px;
}


i{
    font-size: 200%;
    padding: 20px;
}

a.backtotop{
    color: white;
    text-decoration: underline red 2px;
}

a.backtotop:hover{
    color: black;
    background-color: white;
}





@media only screen and (min-width: 780px){

    h1{
        font-size: 500%;
    }

    h2{
        font-size: 350%;
    }

    img{
        width: 60%
    }
}







@media only screen and (min-width: 1024px){
    
    nav ul li{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 125%;
        text-transform: uppercase;
        margin: 1%;
    }

    nav{
        margin-top: 0;
    }

    nav a.icon{
        display: none;
    }
    
    
    nav a{
        color: black;
        background: none;
        text-decoration: none;
        padding: 20px;
    }
    
    a.skip:focus{
        left: auto;
        top: 200px;
      }
    
    nav a:hover{
        color: white;
        background-color: black;
    }
    
    nav a.active{
        text-decoration-line: underline;
        text-decoration-color: black;
        text-underline-offset: 17px;
    }
    
    nav a.active:hover{
        text-decoration-line: underline;
        text-decoration-color: white;
        background-color: black;
        color: white;
    }
    
    body{
        font-size: 100%;
    }

    nav ul li{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 125%;
        text-transform: uppercase;
        padding: 30px;
        margin: 1%;
    }

    img{
        width: 40%;
    }

    h1{
        font-size: 700%;
    }

    h2{
        font-size: 350%;
        margin-bottom: 8vh;
        margin-top: 15vh;
    }

    p{
        margin: 0vh 10% 2vh 10%;
    }

    li{
        margin-left: 10%;
    }

}





@media screen and (prefers-reduced-motion: reduce){
    img:hover{
        border: solid red 10px;
    }

    h1{
        transition: initial;
    }
    h1:hover{
        letter-spacing: normal;
    }

    h2{
        transition: initial;
    }

    h2:hover{
        letter-spacing: normal;
    }
}