body{
    margin: 3%;
    font-style: bold;
    background-color: #f7f8f9;
    font-size: 125%;
    font-family:'Courier New', Courier, monospace;
}

/* header, nav{
    padding: 10px 20px 50px 20px;
    margin: 2%;

} */

nav ul li{
    display: inline-block;
    justify-content: space-between;
    font-size: 125%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px;
    margin: 1%;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 20px;
}

/* a:visited{
    color: black;
} */

a:hover{
    color: white;
    background-color: black;
}

nav a.active{
    text-decoration-line: underline;
    text-decoration-color: black;
    text-underline-offset: 20px;
}

nav a.active:hover{
    text-decoration-line: underline;
    text-decoration-color: white;

}

a{
    text-decoration: underline red;
    color: black;
}

img{
    width: 40%;
    padding: 20px;
    margin-bottom: 5vh;
    border: solid red 10px;
    border-radius: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* img:nth-child(2n){
    border: dashed red 10px;
    border-radius: 1px;
} */
/* img:nth-child(2n+1){
    border: solid red 10px;
    border-radius: 1px;
} */


h1{
    font-size: 1300%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background-color: #B473FA; */
    padding: 20px;
    text-transform: uppercase;
}
h2{
    font-weight: bold;
    font-size: 400%;
    /* /* color: #E646C4; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 5vh;
    margin-top: 15vh;
}

h3{
    font-weight: bold;
    font-size: 150%;
}
footer{
    font-size: 100%;
}

p{
    padding: 20px;
    margin: 0vh 10% 2vh 10%;
    line-height: 40px;
}

li{
    font-weight: bold;
    line-height: 1.5;
    margin-left: 10%;
}

ul{
    margin-top: 3vh;
    margin-bottom: 10vh;
}


#mainstuff{
    position: absolute;
    /* left: -1000px; */
    margin: 5%;
}

.skip:focus{
    left: 0px;
}


.grid{
    display: grid;
    /* flex-direction: column;
    flex-wrap: wrap;
    flex: 50%; */
    /* grid-template-columns: 50%; */
    /* width: 35%; */
    /* margin: 5%; */
    justify-content: space-between;
    justify-items: center;
    grid-row-gap: 10px;
}

.grid div{
    padding: 20px;
}



.grid img:nth-child(even){
    width: 40%;
    padding: 20px;
    margin-bottom: 5vh;
    border: solid red 10px;
    border-radius: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid img:nth-child(odd){
    border: dashed red 10px;
    border-radius: 1px;
}

/* .grid img{
    width: 100%;
    place-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
/* } */

footer{
    position: absolute;
    bottom: 0;
}
/* element.style {
    display: : grid;
    grid-template-columns = ;
} */